.emailList {
    flex: 1;
    overflow: scroll;
}

/* hide scrollbar form chrome, opera, safari */
.emailList::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar form firefox, IE, edge*/
.emailList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emailList__Settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__list {
    padding-bottom: 20%;
}